/* Initial Setup */

:root {
  --primary: #E9F5F5;
  --secondary: #348183;
  --dark-text: #163636;
  --white: #ffffff;
  --secondary-50: rgba(22, 54, 54, 0.5);
  --white-50: rgba(225, 225, 225, 0.5);
  --white-20: rgba(225, 225, 225, 0.2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-text);
}


html, body, main{
    background-color: var(--primary);
    font-size: 100%;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
}

.btn-outline{
    background-color: transparent;
    padding: 14px 32px;
    border: solid 1px;
    border-radius: 24px;
}

button{
    background-color: transparent;
    padding: 14px 32px;
    border-radius: 24px;
    text-transform: uppercase;
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    font-size: .8rem;
    font-weight: 900;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 24px;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}
  
h2 {font-size: 2.074rem;}
  
h3 {font-size: 1.728rem;}
  
h4 {font-size: 1.44rem;}
  
h5 {font-size: 1.2rem;}
  
small, .text_small {font-size: 0.833rem;}

.subheads{
    font-weight: 700;
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--secondary);
    margin-block: 20px;
}

.title{
    font-size: 4.3rem;
    line-height: 4.5rem;
    letter-spacing: -2px;
    color: var(--dark-text);
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.sub-title{
    font-size: 2.5rem;
    line-height: 2.7rem;
    max-width: 30ch;
    padding-block: 20px;
    font-weight: 900;
}

.big-body{
    font-size: 1.2rem;
    margin-block: 22px;
    line-height: 2rem;
}

.centered{
    margin: auto;
    text-align: center;
}

.card-box{
    display: flex;
    flex-flow: row wrap;
    gap: 1.87rem;
    justify-content: center;
}

.card{
    padding: 2.5rem;
    padding-bottom: 3rem;
    border-radius: 48px;
    width: 23rem;
}

.card.active{
    background-color: #ffffff;
}

.card .icon{
    background-color: #ffffff;
    border-radius: 100%;
    padding: 1.5rem;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-items: center;
    align-content: center;
}

.card.active .icon{
    background-color: var(--primary);
}

.card h3{
    padding-top: 4rem;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
    padding-bottom: 1.2rem;
}

.card p{
    color: var(--secondary-50);
    line-height: 2rem;
}


/* Navigation */

#navbar{
    display: block;
    width: 100%;
    max-width: 1440px;
    padding: 16px 24px;
    margin: 0 auto;
    overflow: hidden;
    left: 0;
    right: 0;
    position: absolute;
}

#navbar nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#navbar .logo{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
    color: var(--secondary);
}

#topnav{
    display: flex;
    flex-grow: 1;
    padding: 0 54px;
    gap: 32px;
}

#topnav li{
    list-style-type: none;
}

#topnav a{
    text-decoration: none;
    color: var(--secondary);
}

#navbar .btn-outline{
    color: var(--white);
    border-color: var(--white-20);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

#navbar .icon {
  display: none;
}

/* Above the fold */

.abovethefold{
    background-image: url("pic.png");
    height: 100vh;
    max-height: 1000px;
    background-size: 60% auto;
    /* background-size: auto 90%; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: right 0;
    display: flex;
    align-items: center;
}

.abovethefold .wrapper{
    padding-block: 100px;
}

.abovethefold .wrapper *{
    max-width: 500px;
    margin-left: 0;
}

.mobile-spacer{
    display: none;
}

/* Features */

.features .wrapper .sub-title{
    padding-bottom: 3.88rem;
}



/* Mobile */

@media screen and (max-width: 600px) {

    /* Navigation */

    #navbar .btn-outline, #topnav{
        display: none;
    }

    #navbar .icon{
        display: block;
    }

    #topnav.responsive{
        display: block;
        background-color: var(--secondary);
        position: fixed;
        width: 100%;
        left: 0;
        top: 85px;
        padding: 14px 0;
        z-index: 999999;
    }

    #topnav.responsive li{
        margin: auto;
        width: 100%;
    }

    #topnav.responsive li a{
        color: var(--white);
        display: block;
        text-align: center;
        width: 100%;
        padding: 14px 0;
    }

    /* Above the fold */

    .abovethefold{
        background-image: url("pic.png");
        background-size: auto 440px;
        background-position: right 0;
        display: block;
        height: fit-content;
    }

    .title{
        font-size: 3rem;
        line-height: 3.3rem;
    }

    .mobile-spacer{
        display: block;
        width: 100%;
        height: 300px;
    }
}


/* High Dp and Extra wide screens */

@media screen and (min-width: 1440px) {
    .abovethefold{
        background-size: contain;
    }
}